.idea
.idea/
.idea/*.*
*.iml
.settings
.project
.classpath
.vscode
/.groovy/*
*.orig
test-output/

##################################################################################
# https://github.com/github/gitignore/blob/master/Global/MicrosoftOffice.gitignore
*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

################################################################
# https://github.com/github/gitignore/blob/master/Java.gitignore

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
**/target/
platform/logs/
obj/
bin/
.vs/

config-files-list.txt
dotnet-lambda/output/runtime/.wh.lambda-entrypoint.sh
dotnet-lambda/output/runtime/Amazon.Lambda.APIGatewayEvents.dll
dotnet-lambda/output/runtime/Amazon.Lambda.Core.dll
dotnet-lambda/output/runtime/Amazon.Lambda.Core.pdb
dotnet-lambda/output/runtime/Amazon.Lambda.RuntimeSupport
dotnet-lambda/output/runtime/Amazon.Lambda.RuntimeSupport.deps.json
dotnet-lambda/output/runtime/Amazon.Lambda.RuntimeSupport.dll
dotnet-lambda/output/runtime/Amazon.Lambda.RuntimeSupport.pdb
dotnet-lambda/output/runtime/Amazon.Lambda.RuntimeSupport.runtimeconfig.json
dotnet-lambda/output/runtime/Amazon.Lambda.Serialization.SystemTextJson.dll
dotnet-lambda/output/runtime/aws-lambda-tools-defaults.json
dotnet-lambda/output/runtime/AWSSDK.Core.dll
dotnet-lambda/output/runtime/AWSSDK.DynamoDBv2.dll
dotnet-lambda/output/runtime/bootstrap
dotnet-lambda/output/runtime/bootstrap.deps.json
dotnet-lambda/output/runtime/bootstrap.dll
dotnet-lambda/output/runtime/bootstrap.pdb
dotnet-lambda/output/runtime/bootstrap.runtimeconfig.json
dotnet-lambda/output/runtime/createdump
dotnet-lambda/output/runtime/lambda-entrypoint.sh
dotnet-lambda/output/runtime/libclrjit.so
dotnet-lambda/output/runtime/libcoreclr.so
dotnet-lambda/output/runtime/libcoreclrtraceptprovider.so
dotnet-lambda/output/runtime/libdbgshim.so
dotnet-lambda/output/runtime/libhostfxr.so
dotnet-lambda/output/runtime/libhostpolicy.so
dotnet-lambda/output/runtime/libmscordaccore.so
dotnet-lambda/output/runtime/libmscordbi.so
dotnet-lambda/output/runtime/libSystem.Globalization.Native.so
dotnet-lambda/output/runtime/libSystem.IO.Compression.Native.so
dotnet-lambda/output/runtime/libSystem.Native.so
dotnet-lambda/output/runtime/libSystem.Net.Security.Native.so
dotnet-lambda/output/runtime/libSystem.Security.Cryptography.Native.OpenSsl.so
dotnet-lambda/output/runtime/Microsoft.CSharp.dll
dotnet-lambda/output/runtime/Microsoft.VisualBasic.Core.dll
dotnet-lambda/output/runtime/Microsoft.VisualBasic.dll
dotnet-lambda/output/runtime/Microsoft.Win32.Primitives.dll
dotnet-lambda/output/runtime/Microsoft.Win32.Registry.dll
dotnet-lambda/output/runtime/mscorlib.dll
dotnet-lambda/output/runtime/netstandard.dll
dotnet-lambda/output/runtime/System.AppContext.dll
dotnet-lambda/output/runtime/System.Buffers.dll
dotnet-lambda/output/runtime/System.Collections.Concurrent.dll
dotnet-lambda/output/runtime/System.Collections.dll
dotnet-lambda/output/runtime/System.Collections.Immutable.dll
dotnet-lambda/output/runtime/System.Collections.NonGeneric.dll
dotnet-lambda/output/runtime/System.Collections.Specialized.dll
dotnet-lambda/output/runtime/System.ComponentModel.Annotations.dll
dotnet-lambda/output/runtime/System.ComponentModel.DataAnnotations.dll
dotnet-lambda/output/runtime/System.ComponentModel.dll
dotnet-lambda/output/runtime/System.ComponentModel.EventBasedAsync.dll
dotnet-lambda/output/runtime/System.ComponentModel.Primitives.dll
dotnet-lambda/output/runtime/System.ComponentModel.TypeConverter.dll
dotnet-lambda/output/runtime/System.Configuration.dll
dotnet-lambda/output/runtime/System.Console.dll
dotnet-lambda/output/runtime/System.Core.dll
dotnet-lambda/output/runtime/System.Data.Common.dll
dotnet-lambda/output/runtime/System.Data.DataSetExtensions.dll
dotnet-lambda/output/runtime/System.Data.dll
dotnet-lambda/output/runtime/System.Diagnostics.Contracts.dll
dotnet-lambda/output/runtime/System.Diagnostics.Debug.dll
dotnet-lambda/output/runtime/System.Diagnostics.DiagnosticSource.dll
dotnet-lambda/output/runtime/System.Diagnostics.FileVersionInfo.dll
dotnet-lambda/output/runtime/System.Diagnostics.Process.dll
dotnet-lambda/output/runtime/System.Diagnostics.StackTrace.dll
dotnet-lambda/output/runtime/System.Diagnostics.TextWriterTraceListener.dll
dotnet-lambda/output/runtime/System.Diagnostics.Tools.dll
dotnet-lambda/output/runtime/System.Diagnostics.TraceSource.dll
dotnet-lambda/output/runtime/System.Diagnostics.Tracing.dll
dotnet-lambda/output/runtime/System.dll
dotnet-lambda/output/runtime/System.Drawing.dll
dotnet-lambda/output/runtime/System.Drawing.Primitives.dll
dotnet-lambda/output/runtime/System.Dynamic.Runtime.dll
dotnet-lambda/output/runtime/System.Formats.Asn1.dll
dotnet-lambda/output/runtime/System.Globalization.Calendars.dll
dotnet-lambda/output/runtime/System.Globalization.dll
dotnet-lambda/output/runtime/System.Globalization.Extensions.dll
dotnet-lambda/output/runtime/System.IO.Compression.Brotli.dll
dotnet-lambda/output/runtime/System.IO.Compression.dll
dotnet-lambda/output/runtime/System.IO.Compression.FileSystem.dll
dotnet-lambda/output/runtime/System.IO.Compression.ZipFile.dll
dotnet-lambda/output/runtime/System.IO.dll
dotnet-lambda/output/runtime/System.IO.FileSystem.AccessControl.dll
dotnet-lambda/output/runtime/System.IO.FileSystem.dll
dotnet-lambda/output/runtime/System.IO.FileSystem.DriveInfo.dll
dotnet-lambda/output/runtime/System.IO.FileSystem.Primitives.dll
dotnet-lambda/output/runtime/System.IO.FileSystem.Watcher.dll
dotnet-lambda/output/runtime/System.IO.IsolatedStorage.dll
dotnet-lambda/output/runtime/System.IO.MemoryMappedFiles.dll
dotnet-lambda/output/runtime/System.IO.Pipes.AccessControl.dll
dotnet-lambda/output/runtime/System.IO.Pipes.dll
dotnet-lambda/output/runtime/System.IO.UnmanagedMemoryStream.dll
dotnet-lambda/output/runtime/System.Linq.dll
dotnet-lambda/output/runtime/System.Linq.Expressions.dll
dotnet-lambda/output/runtime/System.Linq.Parallel.dll
dotnet-lambda/output/runtime/System.Linq.Queryable.dll
dotnet-lambda/output/runtime/System.Memory.dll
dotnet-lambda/output/runtime/System.Net.dll
dotnet-lambda/output/runtime/System.Net.Http.dll
dotnet-lambda/output/runtime/System.Net.Http.Json.dll
dotnet-lambda/output/runtime/System.Net.HttpListener.dll
dotnet-lambda/output/runtime/System.Net.Mail.dll
dotnet-lambda/output/runtime/System.Net.NameResolution.dll
dotnet-lambda/output/runtime/System.Net.NetworkInformation.dll
dotnet-lambda/output/runtime/System.Net.Ping.dll
dotnet-lambda/output/runtime/System.Net.Primitives.dll
dotnet-lambda/output/runtime/System.Net.Quic.dll
dotnet-lambda/output/runtime/System.Net.Requests.dll
dotnet-lambda/output/runtime/System.Net.Security.dll
dotnet-lambda/output/runtime/System.Net.ServicePoint.dll
dotnet-lambda/output/runtime/System.Net.Sockets.dll
dotnet-lambda/output/runtime/System.Net.WebClient.dll
dotnet-lambda/output/runtime/System.Net.WebHeaderCollection.dll
dotnet-lambda/output/runtime/System.Net.WebProxy.dll
dotnet-lambda/output/runtime/System.Net.WebSockets.Client.dll
dotnet-lambda/output/runtime/System.Net.WebSockets.dll
dotnet-lambda/output/runtime/System.Numerics.dll
dotnet-lambda/output/runtime/System.Numerics.Vectors.dll
dotnet-lambda/output/runtime/System.ObjectModel.dll
dotnet-lambda/output/runtime/System.Private.CoreLib.dll
dotnet-lambda/output/runtime/System.Private.DataContractSerialization.dll
dotnet-lambda/output/runtime/System.Private.Uri.dll
dotnet-lambda/output/runtime/System.Private.Xml.dll
dotnet-lambda/output/runtime/System.Private.Xml.Linq.dll
dotnet-lambda/output/runtime/System.Reflection.DispatchProxy.dll
dotnet-lambda/output/runtime/System.Reflection.dll
dotnet-lambda/output/runtime/System.Reflection.Emit.dll
dotnet-lambda/output/runtime/System.Reflection.Emit.ILGeneration.dll
dotnet-lambda/output/runtime/System.Reflection.Emit.Lightweight.dll
dotnet-lambda/output/runtime/System.Reflection.Extensions.dll
dotnet-lambda/output/runtime/System.Reflection.Metadata.dll
dotnet-lambda/output/runtime/System.Reflection.Primitives.dll
dotnet-lambda/output/runtime/System.Reflection.TypeExtensions.dll
dotnet-lambda/output/runtime/System.Resources.Reader.dll
dotnet-lambda/output/runtime/System.Resources.ResourceManager.dll
dotnet-lambda/output/runtime/System.Resources.Writer.dll
dotnet-lambda/output/runtime/System.Runtime.CompilerServices.Unsafe.dll
dotnet-lambda/output/runtime/System.Runtime.CompilerServices.VisualC.dll
dotnet-lambda/output/runtime/System.Runtime.dll
dotnet-lambda/output/runtime/System.Runtime.Extensions.dll
dotnet-lambda/output/runtime/System.Runtime.Handles.dll
dotnet-lambda/output/runtime/System.Runtime.InteropServices.dll
dotnet-lambda/output/runtime/System.Runtime.InteropServices.RuntimeInformation.dll
dotnet-lambda/output/runtime/System.Runtime.Intrinsics.dll
dotnet-lambda/output/runtime/System.Runtime.Loader.dll
dotnet-lambda/output/runtime/System.Runtime.Numerics.dll
dotnet-lambda/output/runtime/System.Runtime.Serialization.dll
dotnet-lambda/output/runtime/System.Runtime.Serialization.Formatters.dll
dotnet-lambda/output/runtime/System.Runtime.Serialization.Json.dll
dotnet-lambda/output/runtime/System.Runtime.Serialization.Primitives.dll
dotnet-lambda/output/runtime/System.Runtime.Serialization.Xml.dll
dotnet-lambda/output/runtime/System.Security.AccessControl.dll
dotnet-lambda/output/runtime/System.Security.Claims.dll
dotnet-lambda/output/runtime/System.Security.Cryptography.Algorithms.dll
dotnet-lambda/output/runtime/System.Security.Cryptography.Cng.dll
dotnet-lambda/output/runtime/System.Security.Cryptography.Csp.dll
dotnet-lambda/output/runtime/System.Security.Cryptography.Encoding.dll
dotnet-lambda/output/runtime/System.Security.Cryptography.OpenSsl.dll
dotnet-lambda/output/runtime/System.Security.Cryptography.Primitives.dll
dotnet-lambda/output/runtime/System.Security.Cryptography.X509Certificates.dll
dotnet-lambda/output/runtime/System.Security.dll
dotnet-lambda/output/runtime/System.Security.Principal.dll
dotnet-lambda/output/runtime/System.Security.Principal.Windows.dll
dotnet-lambda/output/runtime/System.Security.SecureString.dll
dotnet-lambda/output/runtime/System.ServiceModel.Web.dll
dotnet-lambda/output/runtime/System.ServiceProcess.dll
dotnet-lambda/output/runtime/System.Text.Encoding.CodePages.dll
dotnet-lambda/output/runtime/System.Text.Encoding.dll
dotnet-lambda/output/runtime/System.Text.Encoding.Extensions.dll
dotnet-lambda/output/runtime/System.Text.Encodings.Web.dll
dotnet-lambda/output/runtime/System.Text.Json.dll
dotnet-lambda/output/runtime/System.Text.RegularExpressions.dll
dotnet-lambda/output/runtime/System.Threading.Channels.dll
dotnet-lambda/output/runtime/System.Threading.dll
dotnet-lambda/output/runtime/System.Threading.Overlapped.dll
dotnet-lambda/output/runtime/System.Threading.Tasks.Dataflow.dll
dotnet-lambda/output/runtime/System.Threading.Tasks.dll
dotnet-lambda/output/runtime/System.Threading.Tasks.Extensions.dll
dotnet-lambda/output/runtime/System.Threading.Tasks.Parallel.dll
dotnet-lambda/output/runtime/System.Threading.Thread.dll
dotnet-lambda/output/runtime/System.Threading.ThreadPool.dll
dotnet-lambda/output/runtime/System.Threading.Timer.dll
dotnet-lambda/output/runtime/System.Transactions.dll
dotnet-lambda/output/runtime/System.Transactions.Local.dll
dotnet-lambda/output/runtime/System.ValueTuple.dll
dotnet-lambda/output/runtime/System.Web.dll
dotnet-lambda/output/runtime/System.Web.HttpUtility.dll
dotnet-lambda/output/runtime/System.Windows.dll
dotnet-lambda/output/runtime/System.Xml.dll
dotnet-lambda/output/runtime/System.Xml.Linq.dll
dotnet-lambda/output/runtime/System.Xml.ReaderWriter.dll
dotnet-lambda/output/runtime/System.Xml.Serialization.dll
dotnet-lambda/output/runtime/System.Xml.XDocument.dll
dotnet-lambda/output/runtime/System.Xml.XmlDocument.dll
dotnet-lambda/output/runtime/System.Xml.XmlSerializer.dll
dotnet-lambda/output/runtime/System.Xml.XPath.dll
dotnet-lambda/output/runtime/System.Xml.XPath.XDocument.dll
dotnet-lambda/output/runtime/WindowsBase.dll
sam-app/.gitignore
sam-app/omnisharp.json
sam-app/README.md
sam-app/template.yaml
sam-app/events/event.json
sam-app/src/HelloWorld/aws-lambda-tools-defaults.json
sam-app/src/HelloWorld/Dockerfile
sam-app/src/HelloWorld/Function.cs
sam-app/src/HelloWorld/HelloWorld.csproj
sam-app/test/HelloWorld.Test/FunctionTest.cs
sam-app/test/HelloWorld.Test/HelloWorld.Tests.csproj
dotnet-lambda/src/aws-lambda-base-images/0f967e2d8c237dbb2136bce924ae248aabb9713ea4d3b03c8fbcaeec2800619b.tar.xz
dotnet-lambda/src/aws-lambda-base-images/3b3c77be8fdd622e10a66f337922a2befceb644c27670f14575ca5e8d2791515.tar.xz
dotnet-lambda/src/aws-lambda-base-images/32d9d4a89dc9e0819abe6c8648af96d2a019a72acf8398e00d411c8a809caa29.tar.xz
dotnet-lambda/src/aws-lambda-base-images/72d7e67bee849fd6631889dbad62d8e9cbadd74072b73707a6906e5ad60d5d22.tar.xz
dotnet-lambda/src/aws-lambda-base-images/485c13c0dd3cd0702e17d995f294cf62c4d44ace07c51629681a0c8b9c183b0a.tar.xz
dotnet-lambda/src/aws-lambda-base-images/4980c640ef1414062089ced5b7cbbce3acb13f489f3bcc500ab65eee7758de3e.tar.xz
dotnet-lambda/src/aws-lambda-base-images/8083e7edcd838f555ea16b422d377376cb82f452845c7d4868327a15b91858ff.tar.xz
dotnet-lambda/src/aws-lambda-base-images/9882e2c0b9128fab2c7fad5173cc2caf3e61ed106244b79bd055654d4f234afc.tar.xz
dotnet-lambda/src/aws-lambda-base-images/CODE_OF_CONDUCT.md
dotnet-lambda/src/aws-lambda-base-images/CONTRIBUTING.md
dotnet-lambda/src/aws-lambda-base-images/Dockerfile.dotnet5.0
dotnet-lambda/src/aws-lambda-base-images/LICENSE
dotnet-lambda/src/aws-lambda-base-images/NOTICE
dotnet-lambda/src/aws-lambda-base-images/README.md
dotnet-lambda/src/aws-lambda-base-images/0f967e2d8c237dbb2136bce924ae248aabb9713ea4d3b03c8fbcaeec2800619b.tar.xz
dotnet-lambda/src/aws-lambda-base-images/3b3c77be8fdd622e10a66f337922a2befceb644c27670f14575ca5e8d2791515.tar.xz
dotnet-lambda/src/aws-lambda-base-images/32d9d4a89dc9e0819abe6c8648af96d2a019a72acf8398e00d411c8a809caa29.tar.xz
dotnet-lambda/src/aws-lambda-base-images/72d7e67bee849fd6631889dbad62d8e9cbadd74072b73707a6906e5ad60d5d22.tar.xz
dotnet-lambda/src/aws-lambda-base-images/485c13c0dd3cd0702e17d995f294cf62c4d44ace07c51629681a0c8b9c183b0a.tar.xz
dotnet-lambda/src/aws-lambda-base-images/4980c640ef1414062089ced5b7cbbce3acb13f489f3bcc500ab65eee7758de3e.tar.xz
dotnet-lambda/src/aws-lambda-base-images/8083e7edcd838f555ea16b422d377376cb82f452845c7d4868327a15b91858ff.tar.xz
dotnet-lambda/src/aws-lambda-base-images/9882e2c0b9128fab2c7fad5173cc2caf3e61ed106244b79bd055654d4f234afc.tar.xz
dotnet-lambda/src/aws-lambda-base-images/CODE_OF_CONDUCT.md
dotnet-lambda/src/aws-lambda-base-images/CONTRIBUTING.md
dotnet-lambda/src/aws-lambda-base-images/Dockerfile.dotnet5.0
dotnet-lambda/src/aws-lambda-base-images/LICENSE
dotnet-lambda/src/aws-lambda-base-images/NOTICE
dotnet-lambda/src/aws-lambda-base-images/README.md
dotnet-lambda/function.zip
.aws-sam/build.toml
go-lambda/output/lambda-go
