<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
     <add key="nuget3.org" value="https://api.nuget.org/v3/index.json" /> 
  </packageSources>

  <disabledPackageSources>
    <add key="nuget.org" value="true" />
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
